body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.img {
    width: 150px;
    border-radius: 50px; 
   
    
}

img:hover {
    border: 2px solid blue;
    cursor: progress;
   
    
}


.card {
    width: 440px;
    margin: 0 auto ;
    padding: 20px;
    background: #ddebf8;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: 5px solid #d8cefe;
    color: #2b2838;
    border-radius: 10px;

}

.border-blue {
    border: 1px dotted rgb(0, 0, 255);
}

